<div class="container" ng-controller="SingIn">

    <h1>Fill the fields:</h1>
    <div class="registration-form">
        <table class="simple-little-table" style="width:100%">
            <tr>
                <td>Login</td>
                <td><input type="text" ng-model="su.login" placeholder="Enter login here"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" ng-model="su.password" placeholder="Enter password here"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="button" class="btn btn-primary" data-ng-click="sendMember(su)">SignIn</button></td>
            </tr>
        </table>
        <HR>

        <div class="registration-response">Result <input type="text" ng-model="itOk" readonly class="registration-response-itok"></div>
    </div>

</div>