<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/tietokonekauppa</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">12345</property>

        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="format_sql">false</property>

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <mapping class="fi.jyu.tietokonekauppa.models.components.Case" />
        <mapping class="fi.jyu.tietokonekauppa.models.components.Disk" />
        <mapping class="fi.jyu.tietokonekauppa.models.components.GPU" />
        <mapping class="fi.jyu.tietokonekauppa.models.components.Motherboard" />
        <mapping class="fi.jyu.tietokonekauppa.models.components.Processor" />
        <mapping class="fi.jyu.tietokonekauppa.models.components.PSU" />
        <mapping class="fi.jyu.tietokonekauppa.models.components.RAM" />
        <mapping class="fi.jyu.tietokonekauppa.models.Link" />
        <mapping class="fi.jyu.tietokonekauppa.models.Comment" />
        <mapping class="fi.jyu.tietokonekauppa.models.Order" />
    </session-factory>
</hibernate-configuration>