<div class="container" ng-controller="CaseInfoCtrl">
    <table style="margin-top: 20px;" class="table table-bordered table-striped table-bordered table-condensed">
        <tr><td>Name</td><td>{{case.name}}</td></tr>
        <tr><td>Vendor</td><td>{{case.vendor}}</td></tr>
        <tr><td>Weight</td><td>{{case.weight}}</td></tr>
        <tr><td>Dimensions</td><td>{{case.dimensions}} Inch.</td></tr>
        <tr><td>Color</td><td>{{case.weight}} lbs</td></tr>
        <tr><td>Price</td><td>{{case.price}} {{case.price_units}}</td></tr>

    </table>
    <div class="panel panel-default" ng-repeat="comment in comments">
        <div class="panel-body">{{comment.contents}}</div>
    </div>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment" ng-model="content"></textarea>
    </div>
    <button type="button" class="btn btn-primary" ng-click="back()">Back</button>
    <button type="button" class="btn btn-primary" ng-click="Add(content)">Add</button>
</div>