<div class="container" ng-controller="DiskInfoCtrl">
    <h1>{{hd.id}}</h1>
<table  ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive tbc" show-filter="true">
    <tr>
        <td title="'Vendor'" filter="{ type: 'text'}" sortable="'text'">
            {{hd.manufacturer}}</td>
        <td title="'Socket'" filter="{ socket: 'text'}" sortable="'socket'">
            Socket {{hd.socket}}</td>
        <td title="'Price'" filter="{ price: 'number'}" sortable="'price'">
            {{cpu.price}}</td>
        <td title="'Amount Avai.'" filter="{ amount: 'number'}" sortable="'amount'">
            {{hd.amount_available}}</td>
        <td title="'Amount'">
            <input class="form-control" type="number" value=0 size="3" min="0" max="{{hd.amount_available}}">
        </td>
    </tr>
</table>

</div>