<div class="container" ng-controller="DiskInfoCtrl">
    <table style="margin-top: 20px;" class="table table-bordered table-striped table-bordered table-condensed">
        <tr><td>Name</td><td>{{disk.name}}</td></tr>
        <tr><td>Vendor</td><td>{{disk.vendor}}</td></tr>
        <tr><td>Type</td><td>{{disk.type}}</td></tr>
        <tr><td>Capacity</td><td>{{disk.capacity}} {{disk.capacityUnits}}</td></tr>
        <tr><td>Rotational speed</td><td>{{disk.rpm}} Rpm</td></tr>
        <tr><td>Available amount</td><td>{{disk.amount_available}} Rpm</td></tr>
        <tr><td>Price</td><td>{{disk.price}} {{disk.price_units}}</td></tr>

    </table>
    <div class="panel panel-default" ng-repeat="comment in comments">
        <div class="panel-heading">{{comment.user_name}} | Date: {{ comment.date | date:'MM/dd/yyyy @ HH:mm'}}</div>
        <div class="panel-body">{{comment.contents}}</div>
    </div>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment" ng-model="content"></textarea>
    </div>
    <button type="button" class="btn btn-primary" ng-click="back()">Back</button>
    <button type="button" class="btn btn-primary" ng-click="Add(content)">Add</button>
</div>