<div class="container" ng-controller="GPUInfoCtrl">
    <table style="margin-top: 20px;" class="table table-bordered table-striped table-bordered table-condensed">
        <tr><td>Name</td><td>{{gpu.name}}</td></tr>
        <tr><td>Vendor</td><td>{{gpu.vendor}}</td></tr>
        <tr><td>RAM Type</td><td>{{gpu.ramType}}</td></tr>
        <tr><td>RAM Size</td><td>{{gpu.ramSize}}</td></tr>
        <tr><td>Processor</td><td>{{gpu.coprocessor}}</td></tr>
        <tr><td>Buswidth</td><td>{{gpu.busWidth}}</td></tr>
        <tr><td>Frequency GPU</td><td>{{gpu.clockSpeed}} GHz</td></tr>
        <tr><td>Price</td><td>{{gpu.price}} {{gpu.price_units}}</td></tr>

    </table>
    <div class="panel panel-default" ng-repeat="comment in comments">
        <div class="panel-heading">{{comment.user_name}} | Date: {{ comment.date | date:'MM/dd/yyyy @ HH:mm'}}</div>
        <div class="panel-body">{{comment.contents}}</div>
    </div>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment" ng-model="content"></textarea>
    </div>
    <button type="button" class="btn btn-primary" ng-click="back()">Back</button>
    <button type="button" class="btn btn-primary" ng-click="Add(content)">Add</button>
</div>