<div class="container" style="margin-bottom: 0;">
    <div class="jumbotron text-center">
        <h1>Tietokonekauppa</h1>
        <p>Choose computer parts for you</p>
    </div>
<p style="font-size:36px;text-align: center;">Mother Boards <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#mb"></span></p>
<table id="mb" ng-controller="mbCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive tbc collapse in" show-filter="true">
    <tr ng-repeat="mb in mbs">
        <td title="'Vendor'" filter="{ type: 'text'}" sortable="'text'">
            {{mb.manufacturer}}</td>
        <td title="'Socket'" filter="{ socket: 'text'}" sortable="'socket'">
            Socket {{mb.cpuModelSocket}}</td>
        <td title="'Supp. mem.'" filter="{ typeRam: 'text'}" sortable="'typeRam'">
            {{mb.RamType}}</td>
        <td title="'Max. mem.'" filter="{ maxMem: 'text'}" sortable="'maxMem'">
            {{mb.memoryMaximumSize}}</td>
        <td title="'Price'" filter="{ price: 'number'}" sortable="'price'">
            {{mb.price}}</td>
        <td title="'Amount Avai.'" filter="{ amount: 'number'}" sortable="'amount'">
            {{mb.amount_available}}</td>
        <td title="'Amount'">
            <div style="display:none;" ng-model="mbid">{{mb.id}}</div><button style="float:right;" ng-click="redirect({{mbid}})"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{mb.amount_available}}"></div></td>
    </tr>
</table>
<br><p style="font-size:36px;text-align: center;">CPUs <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#cpu"></span></p>
<table id="cpu" ng-controller="cpuCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive tbc collapse in" show-filter="true">
    <tr ng-repeat="cpu in cpus">
        <td title="'Vendor'" filter="{ type: 'text'}" sortable="'text'">
            {{cpu.manufacturer}}</td>
        <td title="'Socket'" filter="{ socket: 'text'}" sortable="'socket'">
            Socket {{cpu.socket}}</td>
        <td title="'Price'" filter="{ price: 'number'}" sortable="'price'">
            {{cpu.price}}</td>
        <td title="'Amount Avai.'" filter="{ amount: 'number'}" sortable="'amount'">
            {{hd.amount_available}}</td>
        <td title="'Amount'">
            <button style="float:right;" data-ng-click="redirect({{cpu.id}})"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{cpu.amount_available}}"></div><div style="display:none;">{{cpu.id}}</div></td>
    </tr>
    </tr>
</table>
<br><p style="font-size:36px;text-align: center;">RAMs  <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#ram"></span></p>
<table id="ram" ng-controller="ramCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive tbc collapse in" show-filter="true">
    <tr ng-repeat="ram in rams">
        <td title="'Vendor'" filter="{ vendor: 'text'}" sortable="'vendor'">
            {{ram.vendor}}</td>
        <td title="'Type'" filter="{ type: 'text'}" sortable="'text'">
            {{ram.ramType}}</td>
        <td title="'Form Factor'" filter="{ formfactor: 'text'}" sortable="'formfactor'">
            {{ram.formFactor}}</td>
        <td title="'Capacity'" filter="{ capacity: 'text'}" sortable="'capacity'">
            {{ram.memorySize}} GB</td>
        <td title="'Price'" filter="{ price: 'number'}" sortable="'price'">
            {{ram.price}}</td>
        <td title="'Amount Avai.'" filter="{ amount: 'number'}" sortable="'amount'">
            {{ram.amount_available}}</td>
        <td title="'Amount'">
            <button style="float:right;" data-ng-click="redirect({{ram.id}})"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{ram.amount_available}}"></div><div style="display:none;">{{ram.id}}</div></td>
    </tr>
    </tr>
</table>
<br><p style="font-size:36px;text-align: center;">Drives <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#hd"></span></p>
            <table id="hd" ng-controller="HdCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive tbc collapse in" show-filter="true">
                <tr ng-repeat="hd in hds">
                    <td title="'Vendor'" filter="{ vendor: 'text'}" sortable="'vendor'">
                        {{hd.vendor}}</td>
                    <td title="'Type'" filter="{ type: 'text'}" sortable="'type'">
                        {{hd.type}}</td>
                    <td title="'Capacity'" filter="{ capacity: 'number'}" sortable="'capacity'">
                        {{hd.capacity}} {{hd.capacityUnits}}</td>
                    <td title="'Price'" filter="{ price: 'number'}" sortable="'price'">
                        {{hd.price}}</td>
                    <td title="'Amount Avai.'" filter="{ amount: 'number'}" sortable="'amount'">
                        {{hd.amount_available}}</td>
                    <td title="'Amount'">
                        <button style="float:right;" data-ng-click="redirect({{hd.id}})"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{hd.amount_available}}"><div style="display:none;">{{hd.id}}</div></div></td>
                </tr>
                </tr>
            </table>
<br><p style="font-size:36px;text-align: center;">Video cards <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#vc"></span></p>
<table id="vc" ng-controller="vcCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive tbc collapse in" show-filter="true">
    <tr ng-repeat="gpu in gpus">
        <td title="'Manufacturer'" filter="{ manufacturer: 'text'}" sortable="'manufacturer'">
            {{gpu.manufacturer}}</td>
        <td title="'Vendor'" filter="{ vendor: 'text'}" sortable="'vendor'">
            {{gpu.vendor}}</td>
        <td title="'Capacity'" filter="{ capacity: 'number'}" sortable="'capacity'">
            {{gpu.name}} {{hd.capacityUnits}}</td>
        <td title="'Price'" filter="{ price: 'number'}" sortable="'price'">
            {{gpu.price}}</td>
        <td title="'Amount Avai.'" filter="{ amount: 'number'}" sortable="'amount'">
            {{gpu.amount_available}}</td>
        <td title="'Amount'">
            <button style="float:right;" data-ng-click="redirect({{gpu.id}})"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{gpu.amount_available}}"></div><div style="display:none;">{{gpu.id}}</div></td>
    </tr>
    </tr>
</table>
<br><p style="font-size:36px;text-align: center;">PSUs <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#psu"></span></p>
<table id="psu" ng-controller="psuCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive tbc collapse in" show-filter="true">
    <tr ng-repeat="psu in psus">
        <td title="'Vendor'" filter="{ vendor: 'text'}" sortable="'vendor'">
            {{psu.vendor}}</td>
        <td title="'Power'" filter="{ power: 'number'}" sortable="'power'">
            {{psu.power}} {{hd.capacityUnits}}</td>
        <td title="'Price'" filter="{ price: 'number'}" sortable="'price'">
            {{psu.price}}</td>
        <td title="'Amount Avai.'" filter="{ amount: 'number'}" sortable="'amount'">
            {{psu.amount_available}}</td>
        <td title="'Amount'">
            <button style="float:right;" data-ng-click="redirect({{psu.id}})"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{psu.amount_available}}"></div><div style="display:none;">{{psu.id}}</div></td>
    </tr>
    </tr>
</table>
<br><p style="font-size:36px;text-align: center;">Cases <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#case"></span></p>
<table id="case" ng-controller="caseCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive tbc collapse in" show-filter="true">
    <tr ng-repeat="case in cases">
        <td title="'Vendor'" filter="{ vendor: 'text'}" sortable="'vendor'">
            {{case.vendor}}</td>
        <td title="'Form Factor'" filter="{ formfactor: 'text'}" sortable="'formfactor'">
            {{case.formFactor}}</td>
        <td title="'Price'" filter="{ price: 'number'}" sortable="'price'">
            {{case.price}}</td>
        <td title="'Amount Avai.'" filter="{ amount: 'number'}" sortable="'amount'">
            {{case.amount_available}}</td>
        <td title="'Amount'">
            <button style="float:right;" data-ng-click="redirect({{case.id}})"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{case.amount_available}}"></div><div style="display:none;">{{case.id}}</div></td>
    </tr>
    </tr>
</table>
        <br>
        <div style="text-align:center;" class="btn-block">
            <button type="button" class="btn btn-primary" ng-controller="resetc" ng-click="reset()">Reset</button>
            <button type="button" class="btn btn-primary" ng-controller="Order" ng-click="order()">Order</button>
        </div>
</div>