<div class="container" style="margin-bottom: 0;">
    <div class="jumbotron text-center">
        <h1>Tietokonekauppa</h1>
        <p>Choose computer parts for you</p>
    </div>
    <p style="font-size:36px;text-align: center;">Mother Boards <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#mb"></span></p>
    <table id="mb" ng-controller="mbCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive collapse in">
        <tr ng-repeat="mb in mbs">
            <td title="'Vendor'" sortable="'text'">
            {{mb.vendor}}</td>
            <td title="'Socket'" sortable="'socket'">
            Socket {{mb.cpuModelSocket}}</td>
            <td title="'Supp. mem.'" sortable="'typeRam'">
                {{mb.ramMemoryTechnology}}</td>
            <td title="'Max. mem.'"  sortable="'maxMem'">
            {{mb.memoryMaximumSize}} GB</td>
            <td title="'Price'" sortable="'price'">
            {{mb.price}} {{mb.price_units}}</td>
            <td title="'Amount Avai.'" sortable="'amount'">
            {{mb.amount_available}}</td>
            <td title="'Amount'">
            <button style="float:right;" ng-click="redirect(mb.id)"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{mb.amount_available}}"></div><div style="display:none;">{{mb.id}}</div></td>
        </tr>
        {{mbs.length}}
    </table>
    <br><p style="font-size:36px;text-align: center;">CPUs <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#cpu"></span></p>
    <table id="cpu" ng-controller="cpuCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive collapse in">
        <tr ng-repeat="cpu in cpus">
            <td title="'Vendor'"  sortable="'text'">
                {{cpu.manufacturer}}</td>
            <td title="'Socket'" sortable="'socket'">
                Socket {{cpu.socket}}</td>
            <td title="'Price'" sortable="'price'">
                {{cpu.price}} {{cpu.price_units}}</td>
            <td title="'Amount Avai.'" sortable="'amount'">
                {{cpu.amount_available}}</td>
            <td title="'Amount'">
                <button style="float:right;" data-ng-click="redirect(cpu.id)"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{cpu.amount_available}}"></div><div style="display:none;">{{cpu.id}}</div></td>
        </tr>
    </table>
    <br><p style="font-size:36px;text-align: center;">RAMs  <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#ram"></span></p>
    <table id="ram" ng-controller="ramCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive collapse in" >
        <tr ng-repeat="ram in rams">
            <td title="'Vendor'" sortable="'vendor'">
                {{ram.vendor}}</td>
            <td title="'Type'" sortable="'text'">
                {{ram.ramType}}</td>
            <td title="'Form Factor'"  sortable="'formfactor'">
                {{ram.formFactor}}</td>
            <td title="'Capacity'"  sortable="'capacity'">
                {{ram.memorySize}} GB</td>
            <td title="'Price'"  sortable="'price'">
                {{ram.price}} {{ram.price_units}}</td>
            <td title="'Amount Avai.'" sortable="'amount'">
                {{ram.amount_available}}</td>
            <td title="'Amount'">
                <button style="float:right;" data-ng-click="redirect(ram.id)"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{ram.amount_available}}"></div><div style="display:none;">{{ram.id}}</div></td>
        </tr>
    </table>
    <br><p style="font-size:36px;text-align: center;">Drives <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#hd"></span></p>
    <table id="hd" ng-controller="HdCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive collapse in" >
        <tr ng-repeat="hd in hds">
            <td title="'Vendor'" sortable="'vendor'">
                {{hd.vendor}}</td>
                    <td title="'Type'"  sortable="'type'">
                        {{hd.type}}</td>
                    <td title="'Capacity'"  sortable="'capacity'">
                        {{hd.capacity}} {{hd.capacityUnits}}</td>
                    <td title="'Price'"  sortable="'price'">
                        {{hd.price}} {{hd.price_units}}</td>
                    <td title="'Amount Avai.'"  sortable="'amount'">
                        {{hd.amount_available}}</td>
                    <td title="'Amount'">
                        <button style="float:right;" data-ng-click="redirect(hd.id)"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{hd.amount_available}}"></div><div style="display:none;">{{hd.id}}</div></td>
                </tr>
            </table>
<br><p style="font-size:36px;text-align: center;">Video cards <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#vc"></span></p>
<table id="vc" ng-controller="vcCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive collapse in" >
    <tr ng-repeat="gpu in gpus">
        <td title="'Vendor'"  sortable="'manufacturer'">
            {{gpu.vendor}}</td>
        <td title="'Name'"  sortable="'vendor'">
            {{gpu.name}}</td>
        <td title="'Capacity'"  sortable="'capacity'">
            {{gpu.ramsize}} GB</td>
        <td title="'Price'"  sortable="'price'">
            {{gpu.price}} {{gpu.price_units}}</td>
        <td title="'Amount Avai.'" sortable="'amount'">
            {{gpu.amount_available}}</td>
        <td title="'Amount'">
            <button style="float:right;" data-ng-click="redirect(gpu.id)"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{gpu.amount_available}}"></div><div style="display:none;">{{gpu.id}}</div></td>
    </tr>
</table>
<br><p style="font-size:36px;text-align: center;">PSUs <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#psu"></span></p>
<table id="psu" ng-controller="psuCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive collapse in" >
    <tr ng-repeat="psu in psus">
        <td title="'Vendor'" sortable="'vendor'">
            {{psu.vendor}}</td>
        <td title="'Power'" sortable="'power'">
            {{psu.power}} {{psu.size}} W</td>
        <td title="'Price'"  sortable="'price'">
            {{psu.price}} {{psu.price_units}}</td>
        <td title="'Amount Avai.'" sortable="'amount'">
            {{psu.amount_available}}</td>
        <td title="'Amount'">
            <button style="float:right;" data-ng-click="redirect(psu.id)"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{psu.amount_available}}"></div><div style="display:none;">{{psu.id}}</div></td>
    </tr>
</table>
<br><p style="font-size:36px;text-align: center;">Cases <span style="font-size:20px;" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#case"></span></p>
<table id="case" ng-controller="caseCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive collapse in" >
    <tr ng-repeat="case in cases">
        <td title="'Vendor'" sortable="'vendor'">
            {{case.vendor}}</td>
        <td title="'Dimensions'" sortable="'formfactor'">
            {{case.dimensions}} Inch.</td>
        <td title="'Price'" sortable="'price'">
            {{case.price}} {{case.price_units}}</td>
        <td title="'Amount Avai.'"  sortable="'amount'">
            {{case.amount_available}}</td>
        <td title="'Amount'">
            <button style="float:right;" data-ng-click="redirect(case.id)"  type="button" class="btn btn-primary" >More</button><div style="overflow: hidden; padding-right: .5em;"><input class="form-control inputr" type="number" value=0 size="3" min="0" max="{{case.amount_available}}"></div><div style="display:none;">{{case.id}}</div></td>
    </tr>
</table>
        <br><div class="form-group">
            <label for="comment">Notes:</label>
            <textarea class="form-control" rows="5" id="comment" ng-model="notes"></textarea>
        </div>
        <div style="text-align:center;" class="btn-block">
            <button type="button" class="btn btn-primary" ng-controller="resetc" ng-click="reset()">Reset amount</button>
            <button type="button" class="btn btn-primary" ng-controller="Order" ng-click="orderreq(notes)">Order</button>
        </div>

</div>
