<div class="container" ng-controller="RAMInfoCtrl">
    <table style="margin-top: 20px;" class="table table-bordered table-striped table-bordered table-condensed">
        <tr><td>Name</td><td>{{ram.name}}</td></tr>
        <tr><td>Vendor</td><td>{{ram.vendor}}</td></tr>
        <tr><td>Memory Technology</td><td>{{ram.ramMemoryTechnology}}</td></tr>
        <tr><td>Memory Size</td><td>{{ram.memorySize}}</td></tr>
        <tr><td>Type</td><td>{{ram.ramType}}</td></tr>
        <tr><td>Form Factor</td><td>{{ram.formFactor}}</td></tr>
        <tr><td>Price</td><td>{{ram.price}} {{ram.price_units}}</td></tr>

    </table>
    <div class="panel panel-default" ng-repeat="comment in comments">
        <div class="panel-heading">{{comment.user_name}} | Date: {{ comment.date| date:'MM/dd/yyyy @ HH:mm'}} | <a href="" ng-click="delete(comment.id)">DELETE</a> </div>
        <div class="panel-body">{{comment.contents}}</div>
    </div>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment" ng-model="content"></textarea>
    </div>
    <button type="button" class="btn btn-primary" ng-click="back()">Back</button>
    <button type="button" class="btn btn-primary" ng-click="Add(content)">Add</button>
</div>