h1 {
    text-align: center;
}
.tbc {
    margin: 0px auto;
}

.table-wrapper{
    position:relative;
}
.table-scroll{
    height:150px;
    overflow:auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.collapse.in{
    display:table;
}