<div class="container" ng-controller="SingUp">
    <h1>Fill the fields:</h1>
    <div class="registration-form center-block">
        <table class="simple-little-table" style="width:100%">
            <tr>
                <td>Login</td>
                <td><input type="text" ng-model="su.login" placeholder="Enter login here"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" ng-model="su.password" placeholder="Enter password here"></td>
            </tr>
            <tr>
                <td>Confirm password</td>
                <td><input type="password" ng-model="password_conf" ng-change="passwordFerif(su.password,password_conf)" placeholder="Enter password here"></td>
            </tr>
            <tr>
                <td>First name</td>
                <td><input type="text" ng-model="su.first_name" placeholder="Enter first name here"></td>
            </tr>
            <tr>
                <td>Last name</td>
                <td><input type="text" ng-model="su.last_name" placeholder="Enter second name here"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" ng-model="su.email" placeholder="Enter email here"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="button" class="btn btn-primary" data-ng-click="sendNewMember(su)">SingUp</button></td>
            </tr>
        </table>
        <HR>

        <div class="registration-response">Result <input type="text" ng-model="itOk" readonly class="registration-response-itok"></div>
    </div>

</div>