<div class="container" ng-controller="LogOut">

    <h1>You really want to Logout?</h1>
    <div class="registration-form">
        <table class="simple-little-table" style="width:100%">
            <tr>
                <td>Login</td>
                <td><input type="text" ng-model="login"></td>
            </tr>
            <tr>
                <td>First name</td>
                <td><input type="text" ng-model="first_name"></td>
            </tr>
            <tr>
                <td>Last name</td>
                <td><input type="text" ng-model="last_name"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" ng-model="email"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="button" class="btn btn-primary" data-ng-click="LogOut()">LogOut</button></td>
            </tr>
        </table>
        <HR>

        <div class="registration-response">Result <input type="text" ng-model="itOk" readonly class="registration-response-itok"></div>
    </div>

</div>