<p style="font-size:36px;text-align: center;">Hard Disk  <span id="hhd" style="font-size:20px;" class="glyphicon glyphicon-chevron-down"></span></p>
            <table id="hd" ng-controller="HdCtrl" ng-table="vm.tableParams" class="table table-hover table-bordered table-responsive tbc" show-filter="true">
                <tr ng-repeat="hd in hds">
                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{hd.name}}</td>
                    <td title="'Price'" filter="{ price: 'number'}" sortable="'price'">
                        {{hd.price}}</td>
                    <td title="'Amount Avai.'" filter="{ amount: 'number'}" sortable="'amount'">
                        {{hd.amount_available}}</td>
                    <td title="'Amount'">
                        <input class="form-control" type="number" value=0 size="3" min="0" max="{{hd.amount_available}}">
                    </td>
                </tr>
            </table>
        <br><p style="font-size:36px;text-align: center;">RAM  <span id="hram" style="font-size:20px;" class="glyphicon glyphicon-chevron-down"></span></p>
        <div ng-controller="ramCtrl" >
            <table id="ram" class="table table-hover table-bordered table-responsive tbc">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Introduction</th>
                    <th>Price</th>
                    <th>Number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ram in rams">
                    <td>{{ram.name}}</td>
                    <td>{{ram.vendor}}</td>
                    <td>{{ram.price}}</td>
                    <td>
                        <input class="form-control" type="number" value=0 size="3" min="0" max="{{ram.amount_available}}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br><p style="font-size:36px;text-align: center;">Video Cards  <span id="hvc" style="font-size:20px;" class="glyphicon glyphicon-chevron-down"></span></p>
        <div ng-controller="vcCtrl" >
            <table id="vc" class="table table-hover table-bordered table-responsive tbc">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Introduction</th>
                    <th>Price</th>
                    <th>Number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="gpu in gpus">
                    <td>{{gpu.name}}</td>
                    <td>{{gpu.vendor}}</td>
                    <td>{{gpu.price}}</td>
                    <td>
                        <input class="form-control" type="number" value=0 size="3" min="0" max="{{gpu.amount_available}}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br><p style="font-size:36px;text-align: center;">PSUs  <span id="hpsu" style="font-size:20px;" class="glyphicon glyphicon-chevron-down"></span></p>
        <div ng-controller="psuCtrl" >
            <table id="psu" class="table table-hover table-bordered table-responsive tbc">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Introduction</th>
                    <th>Price</th>
                    <th>Number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="psu in psus">
                    <td>{{psu.name}}</td>
                    <td>{{psu.vendor}}</td>
                    <td>{{psu.price}}</td>
                    <td>
                        <input class="form-control" type="number" value=0 size="3" min="0" max="{{psu.amount_available}}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div style="text-align:center;" class="btn-block">
            <button type="button" class="btn btn-primary" ng-click="refresh()">Refresh</button>
            <button type="button" class="btn btn-primary" ng-controller="resetc" ng-click="reset()">Reset</button>
            <button type="button" class="btn btn-primary" ng-click="order()">Order</button>
        </div>
<script src="my.js"></script>